{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>


<body>
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">VBCG Gournay/Marne</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'player-list' %}">Tous les joueurs</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center mt-5">
        <p class="lead text-center"><a href="https://www.helloasso.com/associations/vbcg">&copy; 2024 - Volley Ball Club Gournay/Marne</a></p>
    </footer>

</body>


</html>