{% extends 'events/base.html' %}

{% block title %}{{ event.name }} - {{ event.date|date:"Y" }}{% endblock %}

{% block content %}
    <div class="container lead text-center">
        
        <h2>{{ event.name }} - {{ event.date|date:"Y" }} - {{ event.city }}</h2>
        
        {% if event.image %}
            <img src="{{ event.image.url }}" alt="{{ event.name }}" class="img-fluid mx-auto d-block">
        {% endif %}
        
        <button class="btn btn-primary" 
                data-toggle="collapse" 
                data-target="#collapseDiv" 
                aria-expanded="false" 
                aria-controls="collapseDiv">
                Détails
        </button>
        <div class="collapse" id="collapseDiv">
            <p>{{ event.date|date:"l d F Y" }}</p>
            <p>{{ event.players}} joueurs par équipe</p>
            <p>{{ event.mode }}</p>
            <p>{{ event.start_time }} - {{ event.end_time }}</p>
            <p>{{ event.location }}</p>
            {% if event.description %} <p>{{ event.description }}</p> {% endif %}
        </div>
        
{% endblock %}          
