{% extends 'events/base.html' %}

{% block title %}Liste des tournois{% endblock %}

{% block content %}
    <div class="container lead text-align-right">
        <h1>Liste des tournois</h1> 
        <p>Nombre d'évènements: {{ total_events }}</p>  <!-- Total events count -->

        <div class="small">
            <ul>
                {% for event in events %}
                    <p>
                        <a href="{% url 'event-detail' event.slug %}">{{ event.name }} - {{ event.date|date:"Y" }} - {{ event.city}} - {{event.players}}x{{event.players}} - {{event.mode}}</a>
                        <a href="{% url 'event-edit' event.slug %}" class="btn btn-primary"><small>Modifier</small></a>
                        <a href="{% url 'event-delete' event.slug %}" class="btn btn-danger"><small>Supprimer</small></a>
                    </p>
                {% empty %}
                <p>Aucun tournoi pour le moment</p>
                {% endfor %}
            </ul>
        </div>

        <div>
            <a href="{% url 'event-add' %}" class="btn btn-primary">Ajouter un tournoi</a>
        </div>
    </div>
{% endblock %}    

