{% extends 'events/base.html' %}

{% block title %}Modifier un tournoi{% endblock %}

{% block content %}

    <div class="container lead text-center">
        <h2>Modifier un tournoi</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-container"></div>
                {{ form.as_p }}
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Modifier</button>
                    <a href="{% url 'event-list' %}" class="btn btn-secondary">Annuler</a>
                </span>
            </div>
        </form>
    </div>

{% endblock %}    