{% extends 'events/base.html' %}

{% block title %}Supprimer le tournoi ?{% endblock %}

{% block content %}
    <div class="container lead text-center">
        <h2>Supprimer le tournoi ?</h2>
        <p><strong>{{ event.name }} - {{ event.date|date:"Y" }} - {{ event.city}} - {{event.players}}x{{event.players}} - {{event.mode}}</strong></p>
        
        <form method="post">
            <div>
            {% csrf_token %}
            <span class="input-group-btn">
                <button type="submit" class="btn btn-danger">Supprimer</button>
                <a href="{% url 'event-detail' event.slug %}" class="btn btn-secondary">Annuler</a>
            </span>
            </div>
        </form>

    </div>

{% endblock %}
