{% extends 'teams/base.html' %}

{% block title %}Supprimer l'équipe ?{% endblock %}

{% block content %}
    <div class="container lead text-center">
        <h2>Supprimer l'équipe ?</h2>
        <p><strong>{{ team.slug }}</strong></p>
        
        <form method="post">
            <div>
            {% csrf_token %}
            <span class="input-group-btn">
                <button type="submit" class="btn btn-danger">Supprimer</button>
                <a href="{% url 'team-detail' team.slug %}" class="btn btn-secondary">Annuler</a>
            </span>
            </div>
        </form>

    </div>

{% endblock %}
