{% extends 'teams/base.html' %}

{% block title %} {{event.name}} : les équipes {% endblock %}

{% block content %}
    <div class="container lead text-align-right">
        <h2>{{event.name}} {{event.city}}: {{ total_teams }} équipes</h2> 

        <div class="small">
                {% for team in teams %}
                    <p>
                        <a href="{% url 'team-detail' team.slug %}" class="btn btn-success w-25">{{ team.slug }} : {{ team.players.count }}</a>
                        <a href="{% url 'team-edit' team.slug %}" class="btn btn-outline-primary" style="width: 8%;"><small>Modifier</small></a>
                        <a href="{% url 'team-delete' team.slug %}" class="btn btn-outline-danger" style="width: 8%;"><small>Supprimer</small></a>
                    </p>
                {% empty %}
                <p>Aucune équipe pour le moment</p>
                {% endfor %}
        </div>

        
    </div>
{% endblock %}    

