{% extends 'teams/base.html' %}

{% block title %}{{ team.name }}{% endblock %}


{% block content %}
    <div class="container lead text-center">
        
        <h2>{{ team.name }}</h2>

        <div class="small">
            <ul>
                {% if team.players.count == 0 %}
                    <p>Aucun joueur pour le moment</p>
                {% else %}
                    {% for player in team.players.all %}
                        <li>{{ player.firstname }} {{ player.lastname }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        
    </div>
{% endblock %}
